/* Landing page styles */

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    color: white;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero {
    display: flex;
}

.hero_main {
    display: flex;
    flex-direction: column;
}

.hero .main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

a, 
.hero .secondary_text {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    /* Update pic+info layout */
}

.pic_info {
    display: flex;
}

.boxes_header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.text {
    font-size: 18px;
}

.quote {
    font-size: 36px;
    font-weight: 200; /* what is light, under style? */
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote .byline {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.action {
    color: white;
    background-color: #3882F6;
    margin: 50px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action_content {
    display: flex;
    flex-direction: column;
}

.action_title {
    font-size: 20px;
    font-weight: 700;
}

.action_info {
    font-size: 18px;
}

.footer {
    font-size: 10px;
}

button {
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    padding: 6px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}